<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <listeners>
        <listener class-name="com.maven.java.TestListener"/>
    </listeners>
    <test name="Test">
        <groups>
        <run>
        <include name="before"/>
        <include name="tearDown"/>
        </run>
        </groups>
        <classes>
            <class name="com.maven.java.ProjectTests"/>
        </classes>
    </test>
</suite>